# Naive Bayes
---

## spam 메일 
* 문자열을 숫자로 정리하는 법

In [97]:
import pandas as pd 

spam = pd.read_csv('./datasets/spam.csv', encoding='latin-1')

In [98]:
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [99]:
spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [100]:
spam['v1'].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [101]:
spam.loc[spam['v1']=='ham', 'v2']
spam.loc[spam['v1']=='spam', 'v2']

2       Free entry in 2 a wkly comp to win FA Cup fina...
5       FreeMsg Hey there darling it's been 3 week's n...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
11      SIX chances to win CASH! From 100 to 20,000 po...
                              ...
5537    Want explicit SEX in 30 secs? Ring 02073162414...
5540    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547    Had your contract mobile 11 Mnths? Latest Moto...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
Name: v2, Length: 747, dtype: object

In [102]:
c = ' '.join(spam.loc[spam['v1']=='ham', 'v2'])
c2 = ' '.join(spam.loc[spam['v1']=='spam', 'v2'])

In [103]:
l = c.split(' ')
l[:10]
l2 = c.split(' ')

In [104]:
from collections import Counter 

counter1 = Counter(l) 
counter2 = Counter(l2)

In [105]:
df1 = pd.DataFrame(list(counter1.items()))
df2 = pd.DataFrame(list(counter2.items()))

* 단어들을 전부 feature가 된 table을 만들기 위해 먼저 dict로 변환
* 그 후에 dataframe으로 만듦

In [106]:
df1, df2

(                  0   1
 0                Go  10
 1             until  21
 2            jurong   1
 3            point,   1
 4           crazy..   1
 ...             ...  ..
 12475         Pity,   1
 12476      So...any   1
 12477  suggestions?   1
 12478      bitching   1
 12479         Rofl.   1

 [12480 rows x 2 columns],
                   0   1
 0                Go  10
 1             until  21
 2            jurong   1
 3            point,   1
 4           crazy..   1
 ...             ...  ..
 12475         Pity,   1
 12476      So...any   1
 12477  suggestions?   1
 12478      bitching   1
 12479         Rofl.   1

 [12480 rows x 2 columns])

In [107]:
df1.columns = ['words in non spam', 'count']
df2.columns = ['words in spam', 'count']

In [108]:
df2.head()

  words in spam  count
0            Go     10
1         until     21
2        jurong      1
3        point,      1
4       crazy..      1

In [109]:
from sklearn import feature_extraction

fe = feature_extraction.text.CountVectorizer(stop_words='english')
# 텍스트를 카운트 해서 숫자화

In [110]:
X = fe.fit_transform(spam['v2'])
X.shape

(5572, 8404)

In [111]:
y = spam['v1'].map({'spam' : 1, 'ham' :0})

In [112]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

## 테스트/학습 데이터 분리

In [113]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 2022, stratify=y)

In [114]:
X_train.shape

(3900, 8404)

In [115]:
from sklearn.naive_bayes import MultinomialNB
# 특성이 범주형이면 멀티노미얼 연속형이면 가우시안

In [116]:
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

In [117]:
y_pred =clf.predict(X_test)

In [118]:
from sklearn.metrics import accuracy_score,precision_score

accuracy_score(y_test, y_pred)

0.9808612440191388

In [119]:
precision_score(y_test, y_pred)

0.9033613445378151

## SVC

In [120]:
from sklearn.svm import SVC
clf = SVC()

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

accuracy_score(y_test, y_pred)

0.9766746411483254

In [93]:
precision_score(y_test, y_pred)

1.0